$clr_black_text: rgba(12, 12, 12, 1);
$clr_side_black: rgba(32, 32, 32, 1);
$clr_footer_black: rgba(35, 35, 35, 1);
$clr_footer_loader: rgba(35, 35, 35, 0.5);
$clr_input_black: rgba(21, 21, 21, 1);
$clr_gold: rgba(228, 181, 100, 1);
$clr_gold_side: rgb(255, 166, 13, 1);
$clr_white: rgba(255, 255, 255, 1);
$clr_white_text: rgba(242, 241, 236, 1);
$clr_milk_text: rgba(241, 231, 204, 1);
$clr_bg: rgba(0, 0, 0, 0.85);
$color_shades_dark: rgb(25, 25, 25);
$color_shades_light: rgb(165, 167, 175);
$color_highlight: rgb(24, 54, 145);
$color_bg_card: rgb(246, 247, 248);
$clr_text_shadow: rgb(119, 119, 119); ;
