.card {
  padding: 10px;
  margin-bottom: 2rem;

  border: 2px solid rgba(228, 181, 100, 1);
  border-radius: 15px;
}

.title {
  font-size: 30px;
  word-break: break-word;
}

.content {
  text-align: left;
  margin: 0 5rem;
  max-width: 500px;
  list-style: none;
}

.text {
  font-size: 18px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn {
  margin-top: 1rem;
}
